@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* Estilos del carrusel */
.project-swiper {
  padding: 20px 10px 50px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6 !important;
}

.swiper-pagination-bullet {
  background: #3b82f6 !important;
}

.swiper-pagination-bullet-active {
  background: #2563eb !important;
}